@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;

}

.menu {
    display: flex;
    position: sticky;
    top: 0;
    min-width: 100%;

}

.background{
    background: #5f7e46;
    background-size: cover;
    background-blend-mode: darken;
}

.bg{
    background: white(181, 255, 181, 0.79);
    background-size: cover;
    background-blend-mode: darken;
}

.profile {
    display: flex;
    width: 50%;
    align-items: center;
}

.profile button{
    width: auto;
}

.profile img {
    width: 8%;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 50%;
    padding: 2px;
    margin: 10px;
}

.navigation li {
    list-style: none;
    margin: auto;
    padding: 0 50px;

}

.navigation {
    width: 60%;
    display: flex;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    cursor: pointer;
}

.navigation li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-size: 20px;
}

.main_content {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
}

.first img {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.first{
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.7;
}

.big-text{
    margin: 0 20%
}
.buttons{
    margin-top: 20px;
    margin-bottom: 50px;
}

.btn{
    padding: 10px;
    border: 2px black solid;
    border-radius: 5%;
    background: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

.btn:hover{
    padding: 10px;
    border: 2px black solid;
    border-radius: 5%;
    background: none;
    color: black;
    font-size: 20px;
}

.big-text a{
    font-weight: bold;
    text-decoration: none;
    color: #75aca7
}

.foot{
    display: flex;
    background: #5f7e46;
    background-size: cover;
    background-blend-mode: darken;
    justify-content: center;
    padding: 30px 0;
    font-family: 'Roboto Slab', serif;
}

.last_content a{
    text-decoration: none;
    color: black
}

.burger{
    display: none;
    position:absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 30px;
    background-color: black;
    height: 4px;
    margin: 3px
}



@media only screen and (max-width: 750px){
    .navigation{
        flex-direction: column;
    }
    .menu{
        height: 342px;
        flex-direction: column;
        transition: all 0.5s ease-out;
    }
    .profile{
        flex-direction: column;
        margin: auto;

    }
    .navigation li{
        padding: 20px;
    }
    .profile img{
        border: 2px black solid;
        width: 15%;
    }
    
    .burger{
        display: block;
    }
    .h-nav{
        height: 55px;

    }
    .v-nav{
        opacity: 0;
        display: none;
    }
    .last_content{
        font-size: 2.5vw;
    }
    .first img{
        width: 100%;
    }
    .big-text{  
        margin: 2vw
}
    .btn{
     font-size: 50%;
}
    .foot{
        padding: 5% 0;
    } 
}
